h1{
    color:#364958;
}
h2{
    color:#55828B;
    font-size: 2m;
}
body{
    background-color:#C9E4CA;
}
#leftbar {
    font-size: 1em;
    background-color: #87BBA2;
    height: 100vh;
    width: 400
}

.doggo {
    border-radius: 50%;
    margin-left: 115
}
#col-3{
    width: 20px;
    height: 100vh;
    text-align: center;
    margin-right: 
    
}
#text{
    width: 385
}
#text{
    margin-left: 80   
}
#text{
    margin-top: 20
}
#left{
    height: 100vh
}

h1 {
    color:#3B6064;
}
h4 {
    color:#3B6064;
}